{% extends "bootstrap/base.html" %}

<!--блок наименования title-->
{% block title %}
    {% if title %}{{ title }} - Calendar {% else %} Welcome to Calendar {% endif %}
{% endblock %}
{%- block styles %}
    {{ super() }}
    <link href="{{url_for('static', filename='calendar.css')}}" rel="stylesheet">
{%- endblock styles %}

<!--блок навигации navbar-->
{%block navbar %}
<!--панель навигации-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Календарь 0.1</a>
            </div>
             <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Домой</a></li>
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('main.calendar') }}">Календарь</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.calendar') }}">Мой календарь</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{%endblock%}

<!--всплывающее сообщение из flash-->
<!--блок content-->
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

<!--        тут блок app-content из шаблонов приложения-->
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
        {{ super() }}
        {{ datepicker.loader(theme="smoothness") }}
        {{ datepicker.picker(id=".dp", dateFormat='dd.mm.yy', btnsId='.btnId') }}
    <script>
        // функция для исчезновение информационного сообщения
        setTimeout(function() {
            $('.alert').fadeOut('fast');
            }, 3000);

        // функция для смены класса выбранной ячейки цвета
        function hasClass( target, className ) {
            return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
        }
        $('label.event-cell').click(function() {
            if (hasClass($(this), 'checked')){
                $(this).addClass('checked');
                }
            else {
                $('label.checked').removeClass('checked');
                $(this).addClass('checked');
            };
        });

        //функция для всплывающего элемента popover
        $(function() {
            var timer = null;
            var xhr = null;
            $('.event-popup').hover(
                function(event) {

                    // обработчик события mouse in
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax('/event/' + elem.attr('id') + '/popup').done(
                            function(data) {
                                xhr = null;
                                elem.popover({
                                trigger: 'manual',
                                html: true,
                                animation: false,
                                container: elem,
                                placement: 'auto right',
                                content: data
                                }).popover('show');
                                flask_moment_render_all();
                            }
                        );
                    }, 1000);
                },
                function(event) {
                    // обраотчик события mouse out
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
    </script>
{% endblock %}