{% extends "bootstrap/base.html" %}

<!--блок наименования title-->
{% block title %}
    {% if title %}{{ title }} - Calendar {% else %} Welcome to Calendar {% endif %}
{% endblock %}
{%- block styles %}
    {{ super() }}
    <link href="{{url_for('static', filename='calendar.css')}}" rel="stylesheet">
{%- endblock styles %}

<!--блок навигации navbar-->
{%block navbar %}
<!--панель навигации-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Календарь 0.1</a>
            </div>
             <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Домой</a></li>
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('main.calendar') }}">Календарь</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.calendar') }}">Мой алендарь</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{%endblock%}

<!--всплывающее сообщение из flash-->
<!--блок content-->
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

<!--        тут блок app-content из шаблонов приложения-->
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $(".day-cell").hover(function(){
                $(this).addClass("active");
            },function(){
                $(this).removeClass("active");
            });
        });
    </script>
{% endblock %}