{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


    <form action="" method="post" class="form" role="form" >
        {{ form.hidden_tag() }}
        <div class="fix-width-70 center-block">
            <div class="row" >
                <div class="col-md-3">
                    <br>
                    {{ form.date.label }}
                    {{ form.date(class="form-control dp" , type='text') }}<br>
                </div>
                <div class="col-md-9">
                    <br>
                    {{ form.summary.label }}
                    {{ form.summary(class="form-control", placeholder='...') }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    {{ form.full_description.label }}
                    {{ form.full_description(class="form-control fix-width-100") }}<br>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-md-4">
                    <br>
                    <a class="btn btn-default" href="{{ url_for('main.calendar') }}" role="button">Назад</a>
                </div>
                <div class="col-md-4">
                    <br>
                    {{ form.submit(class="btn btn-success") }}<br>
                </div>
                {% if event_id %}
                <div class="col-md-4">
                    <br>
                    <a class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить событие?');"
                       href="{{ url_for('main.delete_event', id=event_id) }}" role="button">Удалить собтие</a>
                </div>
                {% endif %}
            </div>
        </div>

    </form>

{% endblock %}