{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


    <form action="" method="post" class="form" role="form" >
        {{ form.hidden_tag() }}
        <div class="fix-width-70 center-block">
            <div class="row" >
                <div class="col-md-3">
                    <br>
                    {{ form.date.label }}
                    {{ form.date(class="form-control dp" , type='text') }}<br>
                </div>
                <div class="col-md-9">
                    <br>
                    {{ form.summary.label }}
                    {{ form.summary(class="form-control", placeholder='...') }}
                </div>
            </div>
            <div>
                    <br>
                    {{ form.full_description.label }}
                <div  class="row">
                    <div class="col-md-9">
                        {{ form.full_description(class="form-control fix-width-100") }}
                    </div>
                    <div  class="col-md-3">
                        {% for i in range(color_amount) %}
                            <div>
                                <label class="btn event-cell {{form.color.choices[i][0]}}
                                              {% if event and event.color == form.color.choices[i][0] %} checked
                                              {% elif (not event or not event.color)
                                              and form.color.choices[i][0] == 'default' %} checked
                                              {% endif %}">
                                    {{form.color.choices[i][1]}}
                                    <input id="color-{{i}}" name="color" type="radio" value="{{form.color.choices[i][0]}}">
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
<!--        кнопки управления-->
                <br><br>
            <div class="row center-block">
                <div class="col-md-4 center-content">
                    <br>
                    <a class="btn btn-default" href="{{ url_for('main.calendar') }}" role="button">Назад</a>
                </div>
                <div class="col-md-4 center-content">
                    <br>
                    {{ form.submit(class="btn btn-success") }}<br>
                </div>
                {% if event %}
                <div class="col-md-4 center-content">
                    <br>
                    <a class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить событие?');"
                       href="{{ url_for('main.delete_event', id=event.id) }}" role="button">Удалить собтие</a>
                </div>
                {% endif %}
            </div>
        </div>

    </form>

{% endblock %}